body {
    background-image: url('bg2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #e1dcdc;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chatbox {
    opacity: 0.8;
    position: relative;
    width: 400px;
    height: 470px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

#chatbox header {
    opacity: 0.8;
    background-color: #2a83dd;
    color: white;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#chatbox .messages {
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}

#chatbox .messages p {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

#chatbox .messages .user {
    background-color: #e1ffc7;
    text-align: right;
    color: #333;
}

#chatbox .messages .bot {
    background-color: #f1f1f1;
    color: #666;
}

#chatbox footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-top: 1px solid #ccc;
}

#chatbox footer input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

#chatbox footer button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#dropdown {
    margin-top: 5px;
}

#dropdown select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 5px;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}